<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Verde</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <%= link_to 'Mission', '/mission/', :class => "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'App', '/app.html', :class => "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Food', '/food/', :class => "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'About', '/about/', :class => "nav-link" %>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Think Tank</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <%= link_to 'Verde App', '/about.html', :class => "dropdown-item" %>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
